@{
    ViewBag.Title = "Yhteystiedot";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Fasaanintie 3<br />
        Pertteli 25190, Suomi<br />
        <abbr title="Phone">Phone:</abbr>
        0407771439
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>