@using System.Globalization
@{
    ViewBag.Title = "Home Page";
}
@section scripts {
    <script type="text/javascript">
        $(window).on('load', function () {
            if (@ViewBag.LoginError == 1) {
                $('#LoginRuutu').modal('show');
            }
        });
    </script>
}
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Northwind demo app</h1>
        <p class="lead">Tämä on Northwind-sovelluksen working demo</p>


        

        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
        @for (int i = 0; i < 10; i++)
        {
            <p>@i</p>
        }

        <p>Nyt on @DateTime.Now</p>
        <p>Nyt on @DateTime.Now.ToString(new CultureInfo("en-US")) </p>
    </section>
</main>

@{ 
    Html.RenderPartial("_LoginModal");
}