<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">NorthWind</a>
        <a class="navbar-brand" href="#">(@ViewBag.LoggedStatus)</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarColor02" aria-controls="navbarColor02"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/Home">
                        Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-link">
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       role="button" aria-haspopup="true" aria-expanded="false">Company</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Home/About">About <i class="fa-solid fa-circle-info"></i></a>
                        <a class="dropdown-item" href="/Home/Contact">Contact <i class="fa-solid fa-address-book"></i></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Home/Map">Map <i class="fa-solid fa-map-location-dot"></i></a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../Products/Index">Products <i class="fa-solid fa-gift"></i></a>
                </li>
                <li class="nav-link">
                    <a class="dropdown-item" href="../Shippers/Index">Shippers <i class="fa-solid fa-truck-fast"></i></a>
                </li>
                <li class="nav-link">
                    <a class="dropdown-item" href="../Orders/Index">Orders <i class="fa-solid fa-check"></i></a>
                </li>


            </ul>
            <form class="d-flex">
                <a class="btn btn-secondary my-2 my-sm-0" data-bs-toggle="modal" data-bs-target="#LoginRuutu">Kirjaudu</a>

                @*<button class="btn btn-secondary my-2 my-sm-0">@Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "nav-link" }) </button>*@
                &nbsp;
                <button class="btn btn-secondary my-2 my-sm-0">@Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "nav-link" }) </button>
            </form>
        </div>
    </div>
</nav>
